.content_area{
	line-height: 1.85714285714286;
	padding: 40px 0 60px;
}
.content_area p strong{
	font-weight: 700;
	font-family: "Arial", Sans-serif;
	letter-spacing: 0;
	line-height: 1.3;
}
.content_area ul{
	margin-top: 40px;
}
.content_area ul li{
	list-style-type: disc;
	margin-left: 50px;
}

.light_text{
	font-weight: 300;
	color: #3a3a3a;
	letter-spacing: 0;
}